@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
body{
    background-color: #FAF8F0;
    margin-bottom: 50px;
}

h1, h2, h3, p{
    text-align: center;
    color: #2B2D42;
    font-family: 'Roboto', sans-serif;

}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
}

#persona{
    margin-top: 150px;
    margin-bottom: 30px;
}

#scenarios{
    margin-top: 50px;
}
.subtitle{
    font-size: 1.5em;
}

#design{
    font-size: 1.8em;
    margin-top: 100px;
}

#colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border: 2px black solid;
}

#blue {
    background-color: #A5D9EB;
    padding: 50px;
}
#white {
    background-color: #FAF8F0;
}
#black {
    background-color: #2B2D42;
}
#red {
    background-color: #EF233C;
}
#purple {
    background-color: #BE97C6 ;
}

#type{
    margin-top: 20px;
    margin-bottom: 30px;
}



/* Color Pallet */
/* #A5D9EB blue
#FAF8F0 white
#2B2D42 black
#EF233C red
#BE97C6 purple*/

/* #FAF8F0 tan
#A5D9EB blue
#244964 letter blue
#C27364 house */

header{
	background-color: #2B2D42;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

nav {
	background-color: #2B2D42;
	text-align: center;
	box-shadow: 0 0 30px #333;
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #708080;
	color: #A5D9EB;
}

/***********************************************/
/** Media Queries for larger views *************/
/***********************************************/

@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}