main {
    background-color: #EDAFB8;
    width: 100%;
    padding: 20px 0px;
    /* background-image: url("../images/form-back.jpg");
    background-size: 50%;
    background-repeat: no-repeat; */
}

label, input, textarea{
    display: block;
    font-size: 1.2em;
    margin-left: 5px;
}

label{
    padding-top: 20px;
    width: 100%;
}

input{
    height: 50px;
}

input[type='radio']{
    height: 20px;
}

form {
    display: block;
    min-width: 400px;
    max-width: fit-content;
    background-color: #88CA5E;
    margin: 0 auto;
    padding-bottom: 10px;
    border: solid 2px black;
    border-radius: 20px;
}

/* form input:required{
    border-left: solid red 6px;
}

form input:required:valid{
    border-left: solid green 6px;
} */

#radio {
    display: grid;
    grid-template-columns: 130px 40px;
}

/* #radio label {
    margin: 0 auto;
} */

#radio input {
    height: 20px;
    margin: 0;
    margin-top: 20px;
}

textarea {
    height: 50px;
}

input, textarea{
    margin-bottom: 20px;
    width: 90%;
    /* max-width: 450px; */
}

input[type='submit']{
    height: 70px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    color: #242722;
    border-radius: 10px;
}

#info{
    display: none;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}

#info h3{
    grid-column: 1/-1;
    text-align: center;
}

#info p{
    text-align: right;
    margin: 10px;
}

#info span{
    margin: 10px 0px;
    text-align: left;
}


@media screen and (min-width: 650px)
{
    main { 
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
        width: 100%;
        margin: 0 auto;
    }


}


@media screen and (min-width: 1200px)
{
    main { 
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
        width: 100%;
        margin: 0 auto;
    }
}