main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main img{
    margin-top: 50px;
    width: 500px;
}

#days{
    text-align: center;
}

.pclass{
    color: #2B2D42;
    /* padding-top: 5px; */
    font-size: 1.2em;
}

@media screen and (min-width: 650px){

    main img:hover{
        transform: scale(1.1);
        transition: .2s;
    }

}

/* @media screen and (min-width: 1200px){

    main{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    main img{
        display: block;
        margin: 0 auto;
        width: 50%;
    }

} */