label, input, textarea{
    display: block;
    font-size: 1.5em;
}

label{
    margin-top: 30px;
    width: 50%;
}

input{
    height: 50px;
}

input[type='radio']{
    height: 20px;
}

h1{
    text-align: center;
    color: #2B2D42;
    font-size: 1.7em;
    margin-top: 50px;
}

form input:required{
    border-left: solid red 6px;
}

form input:required:valid{
    border-left: solid green 6px;
}

#radio {
    display: grid;
    grid-template-columns: 60px 100px;
}

#radio label {
    margin: 0;
}

textarea {
    height: 150px;
}

input, textarea{
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
}

input[type='submit']{
    height: 80px;
    width: 100%;
    background-color: white;
    color: #2B2D42;
}

h3{
    margin-top: 50px;
    grid-column: 2/3;
    text-align: center;
    font-size: 1.4em;
}

main p{
    grid-column: 2/3;
    color: #2B2D42;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4em;
}

@media screen and (min-width: 650px)
{
    main { 
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
        width: 90%;
        margin: 0 auto;
    }


}


@media screen and (min-width: 1200px)
{
    main { 
        grid-template-columns: 1fr 2fr;
        grid-template-rows: none;
        width: 90%;
        margin: 0 auto;
    }
}